<footer class="footer">
    <div class="container">
        <div class="footer-nav">
            <a href="" class="footer-nav__link">YOUR ACCOUNT</a>
            <a href="" class="footer-nav__link">CONTACT US</a>
            <a href="" class="footer-nav__link">TERMS OF SERVICE</a>
        </div>
        <div class="footer__social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-vk"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
        <div class="footer__copyright">Copyright 2020 Aerodrome City</div>
    </div>
</footer>