{% extends "store/base.html" %}


{% block content %}

    	<!-- HEADER -->
	<header class="header">

		<div class="container">
			<div class="header__bg"></div>
			<div class="header__content">
				<div class="header__title">Sport Wear Collection</div>
				<div class="header__descriptions">
					Epsum opsum lalalala nananan doloer epa seun Epsum opsum lalalala <br>nananan doloer epa seun Epsum opsum lalalala nananan doloer epa seun
				</div>
				<a href="/" class="header__button">Shop now</a>
			</div>
		</div>
	</header>


	<!-- PRODDUCT -->
	<div class="section">
		<div class="container">
			<h2 class="title">New product</h2>
			<div class="subtitle">Coleu ampow awaf</div>

			<div class="row">
                {% for item in object_list  %}
				<div class="col-md-3">
					<div class="card">
						<div class="card__image" id="image">
							<img src="{{ item.image.url }}">
							<div class="card__hover">
								<a href="{{ object.get_add_to_cart_url }}" class="card__button">Add To Cart</a>
								<a href="{{ item.get_absolute_url }}" class="card__button">Quik View</a>
							</div>
						</div>
						<div class="card__title">
                            {{ item.title }}
                            <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span>
                        </div>
						<div class="card__price">

                            {% if item.discount_price %}
                                <span>${{ item.price }}</span>
							    ${{ item.discount_price }}
                            {% else %}
                                ${{ item.price }}
                            {% endif %}
						</div>
					</div>
				</div>
                {% endfor %}
            </div>
			<a href="/" class="button-outline">Brows all items</a>
			</div>
		</div><!-- container -->
	</div><!-- Section -->


		<!-- ADV BLOCKS -->
	<div class="adv-wrapper adv-wrapper--bg-1">
		<div class="container adv-content-center">
			<div class="adv__title">Get something you love</div>
			<a href="/" class="adv__button">Shop now</a>
		</div><!-- container -->
	</div><!-- adv-wrapper -->




<!--FETURED PRODDUCT -->
	<div class="section">
		<div class="container">
			<h2 class="title">Fetured Products</h2>
			<div class="subtitle">Coleu ampow awaf</div>

			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<div class="card__image">
							<img src="img/1.jpg">
						</div>
						<div class="card__title">Cotton Polo Shirt</div>
						<div class="card__price">
							<span>$100</span>
							$95
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card__image">
							<img src="img/1.jpg">
						</div>
						<div class="card__title">Cotton Polo Shirt</div>
						<div class="card__price">
							<span>$100</span>
							95
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card__image">
							<img src="img/1.jpg">
						</div>
						<div class="card__title">Cotton Polo Shirt</div>
						<div class="card__price">
							<span>$100</span>
							95
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card__image">
							<img src="img/1.jpg">
						</div>
						<div class="card__title">Cotton Polo Shirt</div>
						<div class="card__price">
							<span>$100</span>
							95
						</div>
					</div>
				</div>
			<a href="#" class="button-outline">Brows all items</a>
			</div>
		</div><!-- container -->
	</div><!-- Section -->

		<!-- ADV BLOCKS -->
	<div class="adv-wrapper adv-wrapper--bg-2">
		<div class="container adv-content-center">
			<img src="img/brand.png">
			<img src="img/brand.png">
			<img src="img/brand.png">
			<img src="img/brand.png">
			<img src="img/brand.png">
			<img src="img/brand.png">
		</div><!-- container -->
	</div><!-- adv-wrapper -->




	<!-- BLOG -->

	<div class="container section">
		<h2 class="title">Blog Posts</h2>
		<div class="subtitle">EDITORS' PICKS</div>



		<div class="row">
			<!-- Blog posts -->
			<div class="col-md-6 blog">
				<div class="row">
					<div class="col-md-4">
						<img src="img/blog/1.png" alt="Blog post">
					</div>
					<div class="col-md-8">
						<div class="blog__title">Lorem ipsum dolor sit amet, consectetur</div>
						<div class="blog__desc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
						<a href="#" class="blog__read-more">Read more</a>
					</div>
				</div>
			</div><!-- "col-md-6 blog"> -->
			<div class="col-md-6 blog">
				<div class="row">
					<div class="col-md-4">
						<img src="img/blog/2.png" alt="Blog post">
					</div>
					<div class="col-md-8">
						<div class="blog__title">Lorem ipsum dolor sit amet, consectetur</div>
						<div class="blog__desc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
						<a href="#" class="blog__read-more">Read more</a>
					</div>
				</div>
			</div><!-- "col-md-6 blog"> -->
			<div class="col-md-6 blog">
				<div class="row">
					<div class="col-md-4">
						<img src="img/blog/3.png" alt="Blog post">
					</div>
					<div class="col-md-8">
						<div class="blog__title">Lorem ipsum dolor sit amet, consectetur</div>
						<div class="blog__desc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
						<a href="#" class="blog__read-more">Read more</a>
					</div>
				</div>
			</div><!-- "col-md-6 blog"> -->
			<div class="col-md-6 blog">
				<div class="row">
					<div class="col-md-4">
						<img src="img/blog/4.png" alt="Blog post">
					</div>
					<div class="col-md-8">
						<div class="blog__title">Lorem ipsum dolor sit amet, consectetur</div>
						<div class="blog__desc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
						<a href="#" class="blog__read-more">Read more</a>
					</div>
				</div>
			</div><!-- "col-md-6 blog"> -->
		</div>

		<a href="#" class="button-outline mt-60 mb-100">read all post</a>


		<h2 class="title">Join 100,000 members already collaborating</h2>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="description">
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</div>
			</div>
		</div>

		<form action="" class="subscribe">
			<input type="text" class="subscribe__input" placeholder="Your email address">
			<input type="submit" class="subscribe__button" value="Submit">
		</form>
	</div>


{% endblock content %}